<launch>
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find points_testing)/config/rvizconfig.rviz" />
    <arg name="outputFile" default=""/>
    <arg name="inputFile" default=""/>
    <node pkg="points_testing/scripts" name="points_rviz" type="points_rviz_test.py" output="screen">
        <param name="outputFile" value="$(arg outputFile)"/>
        <param name="inputFile" value="$(arg inputFile)"/>
    </node>        

</launch>
